html,
body {
  margin: 0;
  padding: 0;
}

#app {
  width: calc(100% - 1rem);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
}

h1 {
  padding: 0;
  margin: 0 0 1rem 0;
}

.input-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #cacaca;
  flex: 1;
}

.input-container input,
.input-container select,
.input-container button {
  display: flex;
  flex: 1;
  border: 0;
  padding: 0.5rem;
}

.input-container select,
.input-container button {
  flex: 0;
  cursor: pointer;
}

.input-container input {
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
}

#results {
  margin-top: 1rem;
  border: 1px solid #cacaca;
  padding: 1rem;
}

#results table {
  width: 100%;
  border-collapse: collapse;
}

#results table thead {
  border-bottom: 1px solid #cacaca;
}

#results table th,
#results table td {
  padding: 0.5rem;
  border-right: 1px solid #cacaca;
}

#results table th:last-of-type,
#results table td:last-of-type {
  border-right: 0;
}

.hidden {
  display: none;
}
