#what-i-do {
  background-color: $blue;

  h1 {
    &.title {
      font-size: 32px;
    }
  }

  .box {
    background-color: transparent;
    border: 1px solid $white;
    margin: 5px;
    transition: 0.3s all ease-in-out;
    box-shadow: 3px 3px 10px transparent;
    cursor: default;

    &:hover {
      transform: scale(1.02);
      box-shadow: 3px 3px 10px #333333;
    }

    .icon {
      $size: 62px;
      font-size: $size;
      height: $size;
      width: $size;
      color: $white;
    }

    .title {
      margin: 20px 0;
      padding: 0;
      font-size: 22px;
      color: $white;
    }

    .content {
      padding: 0;
      margin: 20px 0;
      color: $white;
    }
  }
}