#what-ive-done {
  .container {
    max-width: 1100px;

    article {
      transition: 0.3s all ease-in-out;
      box-shadow: 0px 0px 10px transparent;
      border: 1px solid #cacaca;
      cursor: default;

      &:hover {
        transform: scale(1.005);
        box-shadow: 3px 3px 10px #333333;
      }

      .title {
        margin: 0 0 15px 0;
        padding: 0;
        font-size: 23px;
      }

      .date {
        font-size: 13px;
        margin: 0;
        padding: 0;
      }

      .content {
        padding: 0;
        margin: 0;
      }

      .links {
        margin-top: 15px;
        width: 100%;
        display: block;

        @media screen and (max-width: 767px) {
          display: flex;
          flex-direction: column;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        a {
          @media screen and (max-width: 767px) {
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &:not(:last-of-type) {
            @media screen and (min-width: 768px) {
              &:after {
                content: ' | ';
              }
            }
          }
        }
      }
    }
  }
}